<div class="container">
  <div class="floor-holder">
    <div class="tab-holder">
      <div id="main" class="tab active">Main Floor</div>
      <div id="trauma" class="tab">Trauma</div>
      <div id="emergency" class="tab">Emergency</div>
      <div id="physical-therapy" class="tab">P.T.</div>
    </div>

    <div id="main-floor" class="floor active">
      <div class="floor-header">
        <h2>Main Floor</h2>
      </div>
      <div class="room-row room-row-1">
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">101</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">102</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">103</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">104</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">105</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">106</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
      </div>
      <div class="middle-container">
        <div class="room-column room-column-1">
          <div class="hospital-room-column hospital-room">
            <div class="hospital-room-content">
              <div class="room-number">107</div>
              <div class="room-status room-status-available"></div>
              <div class="current-caregiver current-caregiver-unassigned"></div>
              <div class="current-patient current-patient-unassigned"></div>
            </div>
          </div>
          <div class="hospital-room-column hospital-room">
            <div class="hospital-room-content">
              <div class="room-number">108</div>
              <div class="room-status room-status-available"></div>
              <div class="current-caregiver current-caregiver-unassigned"></div>
              <div class="current-patient current-patient-unassigned"></div>
            </div>
          </div>
          <div class="restroom">Restroom</div>
        </div>
        <div class="room-column room-column-2">
          <div class="hospital-room-column center-room">Nurse's Station</div>
          <div class="hospital-room-column center-room">Lab</div>
        </div>
        <div class="room-column room-column-3">
          <div class="room-row-special">
            <div class="hospital-room-column hospital-room">
              <div class="hospital-room-content">
                <div class="room-number">109</div>
                <div class="room-status room-status-available"></div>
                <div
                  class="current-caregiver current-caregiver-unassigned"
                ></div>
                <div class="current-patient current-patient-unassigned"></div>
              </div>
            </div>
            <div class="hospital-room-column hospital-room check-in-station">
              Check-In Station
            </div>
          </div>
          <div class="room-row-special">
            <div class="hospital-room-column hospital-room">
              <div class="hospital-room-content">
                <div class="room-number">110</div>
                <div class="room-status room-status-available"></div>
                <div
                  class="current-caregiver current-caregiver-unassigned"
                ></div>
                <div class="current-patient current-patient-unassigned"></div>
              </div>
            </div>
            <div class="hospital-room-column hospital-room">
              <div class="hospital-room-content">
                <div class="room-number">111</div>
                <div class="room-status room-status-available"></div>
                <div
                  class="current-caregiver current-caregiver-unassigned"
                ></div>
                <div class="current-patient current-patient-unassigned"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="room-row room-row-2">
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">112</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">113</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">114</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">115</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">116</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
        <div class="hospital-room">
          <div class="hospital-room-content">
            <div class="room-number">117</div>
            <div class="room-status room-status-available"></div>
            <div class="current-caregiver current-caregiver-unassigned"></div>
            <div class="current-patient current-patient-unassigned"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="trauma-floor" class="floor"></div>
    <div id="emergency-floor" class="floor"></div>
    <div id="physical-therapy-floor" class="floor"></div>
  </div>
  <div class="waiting-room">Waiting Room</div>
</div>
